html {
    font-size: 13px;
    font-weight: 400;
    overflow: hidden;
}

body{
    background-color: white;    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    height: 100%;
    width: 100%;
}


header{
    color: black;
    margin-top: 12px;
    display: flex; 
    justify-content:center;
    align-items:center;
    align-self: flex-end;
    height: 50px;
    }

header a{
padding: 10px;
color: rgba(36, 36, 37, 0.966);
margin-right: 10px;
}

header img{
    width: 35px ;
    height: 35px;
    border-radius: 50%;

}
header img:hover{
    box-shadow: 0 0 6px rgb(196, 191, 191);}

header .apps-container{
    display: inline-block;
    width: 20px;
    padding: 10px;
    align-items: center;
    align-items: center;
    justify-items: center;
}

header .apps-container:hover{
    background:rgba(60, 64, 67, 0.041);
    border-radius: 50%;  
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.151);
    cursor: pointer;
    
}


.search-box-container .search-box{
    height: 80%;
    width: 100%;
    font-size:larger;
    padding: 3px;
}
.search-box-container{
    display: flex;
    height: 40px;
    margin-bottom: 25px;
    border: .2px;
    border-radius: 50px;
    border-style: solid;
    border-color: rgb(209, 208, 204);
    align-items: center;
    width:50%;
    justify-content:space-between;
    min-width:550px ;
    max-width:600px;
}



.search-box-container:hover{
    box-shadow: 0 0 6px rgba(194, 189, 189, 0.329);}
    

.search-box-container .icon img{
    max-width: 20px;
    padding: 10px;}

.search-box-container .icon svg{
    width:20px;
    padding: 10px;

}

header a.material-icons-outlined{
    text-decoration: none;
}
header a.material-icons-outlined:hover{
    text-decoration: none;
    background: transparent;
    border-radius: 50%;
    background-color: rgba(214, 207, 193, 0.438); 
    border-color: rgb(214, 207, 193);  
       
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


input:focus { 
    outline: none ;
 }

.search-box{
    border: none;
}

div .buttons:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border: .1px solid;
    border-color: rgb(214, 207, 193);  
    color: rgba(0, 0, 0, 0.726);  
}
.button-area{
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
}
.buttons{
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: rgba(74, 78, 87, 0.829);
    cursor: pointer;
    margin: 5px;
    position: static;
}


footer{
padding: 15px;
width: 100%;
display: flex;
justify-content: space-between;
position: absolute;
bottom: 0px;
flex-wrap: wrap;    
padding-bottom: 20px;
background-color: rgba(0, 0, 0, 0.062);
 }
footer a{
    font-size: 1.1rem;
    color: rgb(101, 105, 105);
}


footer ul li{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: inline;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width:700px) { 
    footer{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        padding-bottom: 20px;
    }
}